html, body, .app {
  height: 100%;
}
body {
  margin: 0;
  font: 14px -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0;
}
.app {
  display: flex;
}
.main {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
}
.view {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex: 1;
  background: #ccc;
}
.resize-indicator {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 80px;
  background-color: rgba(51, 51, 51, 0.78);
  color: white;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  z-index: 9999;
}
.play-ground {
  height: 100%;
  overflow: auto;
  width: 100%;
  background: #fff;
  margin: 0 auto;
}
